# Big Data - TP #3

Integrantes: Ronny M. Condor, Diego Fasan y María Camila Riancho

El objetivo de este TP es hacer clasificación y regularización aplicada a la EPH.

In [33]:
import pandas as pd
import os
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np

import statsmodels.api as sm     

from sklearn import datasets
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import KFold
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score, recall_score 
from sklearn.metrics import roc_curve
from sklearn.metrics import roc_auc_score
from sklearn.metrics import mean_squared_error
from sklearn.metrics import average_precision_score
from sklearn.metrics import RocCurveDisplay
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.neighbors import KNeighborsClassifier
from sklearn.impute import SimpleImputer

## Parte I: Análisis de la base de hogares y cálculo de pobreza

In [4]:
#2) Abrimos el archivo y vemos las primeras cinco filas
eph_hogar = pd.read_excel("../datasets/usu_hogar_T123.xlsx")
eph_hogar.head(5)

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,REALIZADA,REGION,MAS_500,AGLOMERADO,PONDERA,IV1,...,GDECCFR,PDECCFR,ADECCFR,PONDIH,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,TQRMNOPSRHJMKNCDEHLEH00797939,2023,1,1,1,40,N,25,111,2,...,NaN,3.0,3,124,1,2,98,0,0,0
1,TQRMNORQYHLMKPCDEHLEH00717341,2023,1,1,1,40,N,25,150,1,...,NaN,5.0,7,193,2,0,98,0,0,0
2,TQRMNOPUWHLLKSCDEHLEH00798181,2023,1,1,1,40,N,25,156,2,...,NaN,5.0,6,185,1,0,98,0,0,0
3,TQRMNOSSWHKOKRCDEGOIH00778157,2023,1,1,1,40,N,18,229,1,...,NaN,2.0,2,228,2,0,1,0,0,0
4,TQRMNORPUHJMKSCDEGOIH00794685,2023,1,1,1,40,N,18,182,1,...,NaN,5.0,6,194,1,0,97,0,0,0

In [5]:
#Resumen de la base de datos
eph_hogar.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16815 entries, 0 to 16814
Data columns (total 88 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   CODUSU      16815 non-null  object
 1   ANO4        16815 non-null  int64
 2   TRIMESTRE   16815 non-null  int64
 3   NRO_HOGAR   16815 non-null  int64
 4   REALIZADA   16815 non-null  int64
 5   REGION      16815 non-null  int64
 6   MAS_500     16815 non-null  object
 7   AGLOMERADO  16815 non-null  int64
 8   PONDERA     16815 non-null  int64
 9   IV1         16815 non-null  int64
 10  IV1_ESP     42 non-null     object
 11  IV2         16815 non-null  int64
 12  IV3         16815 non-null  int64
 13  IV3_ESP     22 non-null     object
 14  IV4         16815 non-null  int64
 15  IV5         16815 non-null  int64
 16  IV6         16815 non-null  int64
 17  IV7         16815 non-null  int64
 18  IV7_ESP     15 non-null     object
 19  IV8         16815 non-null  int64
 20  IV9         16815 non-null  int64
 21  IV10        16815 non-null  int64
 22  IV11        16815 non-null  int64
 23  IV12_1      16815 non-null  int64
 24  IV12_2      16815 non-null  int64
 25  IV12_3      16815 non-null  int64
 26  II1         16815 non-null  int64
 27  II2         16815 non-null  int64
 28  II3         16815 non-null  int64
 29  II3_1       16815 non-null  int64
 30  II4_1       16815 non-null  int64
 31  II4_2       16815 non-null  int64
 32  II4_3       16815 non-null  int64
 33  II5         16815 non-null  int64
 34  II5_1       16815 non-null  int64
 35  II6         16815 non-null  int64
 36  II6_1       16815 non-null  int64
 37  II7         16815 non-null  int64
 38  II7_ESP     28 non-null     object
 39  II8         16815 non-null  int64
 40  II8_ESP     238 non-null    object
 41  II9         16815 non-null  int64
 42  V1          16815 non-null  int64
 43  V2          16815 non-null  int64
 44  V21         16815 non-null  int64
 45  V22         16815 non-null  int64
 46  V3          16815 non-null  int64
 47  V4          16815 non-null  int64
 48  V5          16815 non-null  int64
 49  V6          16815 non-null  int64
 50  V7          16815 non-null  int64
 51  V8          16815 non-null  int64
 52  V9          16815 non-null  int64
 53  V10         16815 non-null  int64
 54  V11         16815 non-null  int64
 55  V12         16815 non-null  int64
 56  V13         16815 non-null  int64
 57  V14         16815 non-null  int64
 58  V15         16815 non-null  int64
 59  V16         16815 non-null  int64
 60  V17         16815 non-null  int64
 61  V18         16815 non-null  int64
 62  V19_A       16815 non-null  int64
 63  V19_B       16815 non-null  int64
 64  IX_TOT      16815 non-null  int64
 65  IX_MEN10    16815 non-null  int64
 66  IX_MAYEQ10  16815 non-null  int64
 67  ITF         16815 non-null  int64
 68  DECIFR      16815 non-null  int64
 69  IDECIFR     14079 non-null  float64
 70  RDECIFR     16815 non-null  int64
 71  GDECIFR     8010 non-null   float64
 72  PDECIFR     8805 non-null   float64
 73  ADECIFR     16815 non-null  int64
 74  IPCF        16815 non-null  float64
 75  DECCFR      16815 non-null  int64
 76  IDECCFR     14079 non-null  float64
 77  RDECCFR     16815 non-null  int64
 78  GDECCFR     8010 non-null   float64
 79  PDECCFR     8805 non-null   float64
 80  ADECCFR     16815 non-null  int64
 81  PONDIH      16815 non-null  int64
 82  VII1_1      16815 non-null  int64
 83  VII1_2      16815 non-null  int64
 84  VII2_1      16815 non-null  int64
 85  VII2_2      16815 non-null  int64
 86  VII2_3      16815 non-null  int64
 87  VII2_4      16815 non-null  int64
dtypes: float64(7), int64(74), object(7)
memory usage: 11.3+ MB

In [6]:
#3) Abrimos la base individual
eph_indiv = pd.read_excel("../datasets/usu_individual_T123.xlsx")
eph_indiv.head(5)

,CODUSU,ANO4,TRIMESTRE,NRO_HOGAR,COMPONENTE,H15,REGION,MAS_500,AGLOMERADO,PONDERA,...,PDECIFR,ADECIFR,IPCF,DECCFR,IDECCFR,RDECCFR,GDECCFR,PDECCFR,ADECCFR,PONDIH
0,TQRMNORVWHLMKOCDEOHCH00720228,2023,1,1,5,0,44,N,91,112,...,10.0,9,79700.0,6,6.0,5,NaN,7.0,5,133
1,TQRMNOPSTHKMKPCDEOHCH00781447,2023,1,1,1,1,44,N,91,190,...,6.0,5,180000.0,9,10.0,9,NaN,10.0,9,200
2,TQRMNOQSXHMOKRCDEOHCH00803177,2023,1,1,1,1,44,N,91,134,...,8.0,8,145000.0,9,9.0,8,NaN,9.0,8,140
3,TQRMNOQSXHMOKRCDEOHCH00803177,2023,1,1,2,1,44,N,91,134,...,8.0,8,145000.0,9,9.0,8,NaN,9.0,8,140
4,TQRMNOQYTHMNKSCDEOHCH00803178,2023,1,1,1,1,44,N,91,120,...,12.0,12,0.0,12,12.0,12,NaN,12.0,12,0

In [8]:
#Unimos las bases de tal manera de quedarnos con las observaciones a nivel individuo, sumando las variables a nivel hogar presentes en la encuesta de hogar:

eph=eph_indiv.merge(eph_hogar, on=['CODUSU','NRO_HOGAR'], how='left')

In [9]:
eph.head(5)

,CODUSU,ANO4_x,TRIMESTRE_x,NRO_HOGAR,COMPONENTE,H15,REGION_x,MAS_500_x,AGLOMERADO_x,PONDERA_x,...,GDECCFR_y,PDECCFR_y,ADECCFR_y,PONDIH_y,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4
0,TQRMNORVWHLMKOCDEOHCH00720228,2023,1,1,5,0,44,N,91,112,...,NaN,7.0,5,133,2,0,96,0,0,0
1,TQRMNOPSTHKMKPCDEOHCH00781447,2023,1,1,1,1,44,N,91,190,...,NaN,10.0,9,200,1,0,98,0,0,0
2,TQRMNOQSXHMOKRCDEOHCH00803177,2023,1,1,1,1,44,N,91,134,...,NaN,9.0,8,140,1,2,98,0,0,0
3,TQRMNOQSXHMOKRCDEOHCH00803177,2023,1,1,2,1,44,N,91,134,...,NaN,9.0,8,140,1,2,98,0,0,0
4,TQRMNOQYTHMNKSCDEOHCH00803178,2023,1,1,1,1,44,N,91,120,...,NaN,12.0,12,0,2,0,3,4,0,0

In [10]:
#Resumen de la base de datos
eph.info(verbose = True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 48638 entries, 0 to 48637
Data columns (total 263 columns):
 #    Column        Dtype
---   ------        -----
 0    CODUSU        object
 1    ANO4_x        int64
 2    TRIMESTRE_x   int64
 3    NRO_HOGAR     int64
 4    COMPONENTE    int64
 5    H15           int64
 6    REGION_x      int64
 7    MAS_500_x     object
 8    AGLOMERADO_x  int64
 9    PONDERA_x     int64
 10   CH03          int64
 11   CH04          int64
 12   CH05          object
 13   CH06          int64
 14   CH07          int64
 15   CH08          float64
 16   CH09          int64
 17   CH10          int64
 18   CH11          int64
 19   CH12          int64
 20   CH13          int64
 21   CH14          float64
 22   CH15          int64
 23   CH15_COD      float64
 24   CH16          int64
 25   CH16_COD      float64
 26   NIVEL_ED      int64
 27   ESTADO        int64
 28   CAT_OCUP      int64
 29   CAT_INAC      int64
 30   IMPUTA        float64
 31   PP02C1        int64
 32   PP02C2        int64
 33   PP02C3        int64
 34   PP02C4        int64
 35   PP02C5        int64
 36   PP02C6        int64
 37   PP02C7        int64
 38   PP02C8        int64
 39   PP02E         int64
 40   PP02H         int64
 41   PP02I         int64
 42   PP03C         float64
 43   PP03D         float64
 44   PP3E_TOT      float64
 45   PP3F_TOT      float64
 46   PP03G         float64
 47   PP03H         float64
 48   PP03I         float64
 49   PP03J         float64
 50   INTENSI       float64
 51   PP04A         float64
 52   PP04B_COD     float64
 53   PP04B1        float64
 54   PP04B2        float64
 55   PP04B3_MES    float64
 56   PP04B3_ANO    float64
 57   PP04B3_DIA    float64
 58   PP04C         float64
 59   PP04C99       float64
 60   PP04D_COD     float64
 61   PP04G         float64
 62   PP05B2_MES    float64
 63   PP05B2_ANO    float64
 64   PP05B2_DIA    float64
 65   PP05C_1       float64
 66   PP05C_2       float64
 67   PP05C_3       float64
 68   PP05E         float64
 69   PP05F         float64
 70   PP05H         float64
 71   PP06A         float64
 72   PP06C         float64
 73   PP06D         float64
 74   PP06E         float64
 75   PP06H         float64
 76   PP07A         float64
 77   PP07C         float64
 78   PP07D         float64
 79   PP07E         float64
 80   PP07F1        float64
 81   PP07F2        float64
 82   PP07F3        float64
 83   PP07F4        float64
 84   PP07F5        float64
 85   PP07G1        float64
 86   PP07G2        float64
 87   PP07G3        float64
 88   PP07G4        float64
 89   PP07G_59      float64
 90   PP07H         float64
 91   PP07I         float64
 92   PP07J         float64
 93   PP07K         float64
 94   PP08D1        float64
 95   PP08D4        float64
 96   PP08F1        float64
 97   PP08F2        float64
 98   PP08J1        float64
 99   PP08J2        float64
 100  PP08J3        float64
 101  PP09A         float64
 102  PP09A_ESP     object
 103  PP09B         float64
 104  PP09C         float64
 105  PP09C_ESP     object
 106  PP10A         float64
 107  PP10C         float64
 108  PP10D         float64
 109  PP10E         float64
 110  PP11A         float64
 111  PP11B_COD     float64
 112  PP11B1        float64
 113  PP11B2_MES    float64
 114  PP11B2_ANO    float64
 115  PP11B2_DIA    float64
 116  PP11C         float64
 117  PP11C99       float64
 118  PP11D_COD     float64
 119  PP11G_ANO     float64
 120  PP11G_MES     float64
 121  PP11G_DIA     float64
 122  PP11L         float64
 123  PP11L1        float64
 124  PP11M         float64
 125  PP11N         float64
 126  PP11O         float64
 127  PP11P         float64
 128  PP11Q         float64
 129  PP11R         float64
 130  PP11S         float64
 131  PP11T         float64
 132  P21           int64
 133  DECOCUR       int64
 134  IDECOCUR      float64
 135  RDECOCUR      int64
 136  GDECOCUR      float64
 137  PDECOCUR      float64
 138  ADECOCUR      int64
 139  PONDIIO       int64
 140  TOT_P12       int64
 141  P47T          float64
 142  DECINDR       int64
 143  IDECINDR      float64
 144  RDECINDR      int64
 145  GDECINDR      float64
 146  PDECINDR      float64
 147  ADECINDR      int64
 148  PONDII        int64
 149  V2_M          int64
 150  V3_M          int64
 151  V4_M          int64
 152  V5_M          int64
 153  V8_M          int64
 154  V9_M          int64
 155  V10_M         int64
 156  V11_M         int64
 157  V12_M         int64
 158  V18_M         int64
 159  V19_AM        int64
 160  V21_M         int64
 161  T_VI          int64
 162  ITF_x         int64
 163  DECIFR_x      int64
 164  IDECIFR_x     float64
 165  RDECIFR_x     int64
 166  GDECIFR_x     float64
 167  PDECIFR_x     float64
 168  ADECIFR_x     int64
 169  IPCF_x        float64
 170  DECCFR_x      int64
 171  IDECCFR_x     float64
 172  RDECCFR_x     int64
 173  GDECCFR_x     float64
 174  PDECCFR_x     float64
 175  ADECCFR_x     int64
 176  PONDIH_x      int64
 177  ANO4_y        int64
 178  TRIMESTRE_y   int64
 179  REALIZADA     int64
 180  REGION_y      int64
 181  MAS_500_y     object
 182  AGLOMERADO_y  int64
 183  PONDERA_y     int64
 184  IV1           int64
 185  IV1_ESP       object
 186  IV2           int64
 187  IV3           int64
 188  IV3_ESP       object
 189  IV4           int64
 190  IV5           int64
 191  IV6           int64
 192  IV7           int64
 193  IV7_ESP       object
 194  IV8           int64
 195  IV9           int64
 196  IV10          int64
 197  IV11          int64
 198  IV12_1        int64
 199  IV12_2        int64
 200  IV12_3        int64
 201  II1           int64
 202  II2           int64
 203  II3           int64
 204  II3_1         int64
 205  II4_1         int64
 206  II4_2         int64
 207  II4_3         int64
 208  II5           int64
 209  II5_1         int64
 210  II6           int64
 211  II6_1         int64
 212  II7           int64
 213  II7_ESP       object
 214  II8           int64
 215  II8_ESP       object
 216  II9           int64
 217  V1            int64
 218  V2            int64
 219  V21           int64
 220  V22           int64
 221  V3            int64
 222  V4            int64
 223  V5            int64
 224  V6            int64
 225  V7            int64
 226  V8            int64
 227  V9            int64
 228  V10           int64
 229  V11           int64
 230  V12           int64
 231  V13           int64
 232  V14           int64
 233  V15           int64
 234  V16           int64
 235  V17           int64
 236  V18           int64
 237  V19_A         int64
 238  V19_B         int64
 239  IX_TOT        int64
 240  IX_MEN10      int64
 241  IX_MAYEQ10    int64
 242  ITF_y         int64
 243  DECIFR_y      int64
 244  IDECIFR_y     float64
 245  RDECIFR_y     int64
 246  GDECIFR_y     float64
 247  PDECIFR_y     float64
 248  ADECIFR_y     int64
 249  IPCF_y        float64
 250  DECCFR_y      int64
 251  IDECCFR_y     float64
 252  RDECCFR_y     int64
 253  GDECCFR_y     float64
 254  PDECCFR_y     float64
 255  ADECCFR_y     int64
 256  PONDIH_y      int64
 257  VII1_1        int64
 258  VII1_2        int64
 259  VII2_1        int64
 260  VII2_2        int64
 261  VII2_3        int64
 262  VII2_4        int64
dtypes: float64(114), int64(138), object(11)
memory usage: 98.0+ MB

In [11]:
#Eliminamos variables duplicadas:
#Primero eliminamos los sufijos para que las columnas que son iguales tengan el mismo nombre
variables=eph.columns.tolist()
nombres_columnas=[]
for v in variables:
    nombres_columnas.append(v.replace("_x", "").replace("_y", ""))
eph.columns=nombres_columnas  
#Eliminamos las columnas duplicadas:
eph = eph.loc[:, ~eph.columns.duplicated()]

In [12]:
#2) Eliminen todas las observaciones que no corresponden a los aglomerados de CABA o Gran Buenos Aires.

#El siguiente código toma el índice de aquellas observaciones para las que el aglomerado no es ni CABA (32) ni Gran Buenos Aires (33), y elimina las filas que cumplen esa condición. 

eph= eph.drop(eph[(eph["AGLOMERADO"] != 32) & (eph["AGLOMERADO"] != 33)].index)

#Para comprobar que funcionó, presentamos los valores que toma la variable "AGLOMERADO":

unique=eph["AGLOMERADO"].unique() 
print(unique) #Vemos que ahora "Aglomerado" solo toma los valores 32 y 33

[33 32]

In [13]:
#Para identificar aquellas variables que toman valores sin sentido, utilizamos el siguiente comando:
# (Las funciones nanmin y nanmax calculan los valores mínimos y máximos de cada columna sin incluir los valores faltantes, ya que de lo contrario para las variables con valores faltantes "nan" aparece como el valor mínimo y máximo)

for column in eph.columns:
    try:
        print(column, np.nanmin(eph[column]), np.nanmax(eph[column]))
    except:
        print(column)

CODUSU TQRMNOPPQHJNOPCDEIJAH00802435 TQUMNORTQHLMNUCDEIJAH00780261
ANO4 2023 2023
TRIMESTRE 1 1
NRO_HOGAR 1 51
COMPONENTE 1 13
H15 0 2
REGION 1 1
MAS_500 S S
AGLOMERADO 32 33
PONDERA 45 8423
CH03 1 10
CH04 1 2
CH05 1900-01-01 00:00:00 2023-03-02 00:00:00
CH06 -1 99
CH07 1 9
CH08 1.0 12.0
CH09 0 9
CH10 0 9
CH11 0 9
CH12 0 99
CH13 0 9
CH14 0.0 99.0
CH15 0 9
CH15_COD 10.0 449.0
CH16 0 9
CH16_COD 14.0 410.0
NIVEL_ED 1 7
ESTADO 0 4
CAT_OCUP 0 9
CAT_INAC 0 7
IMPUTA 1.0 1.0
PP02C1 0 2
PP02C2 0 2
PP02C3 0 2
PP02C4 0 2
PP02C5 0 2
PP02C6 0 2
PP02C7 0 2
PP02C8 0 2
PP02E 0 5
PP02H 0 2
PP02I 0 2
PP03C 0.0 2.0
PP03D 0.0 6.0
PP3E_TOT 0.0 999.0
PP3F_TOT 0.0 999.0
PP03G 1.0 9.0
PP03H 0.0 9.0
PP03I 1.0 9.0
PP03J 1.0 9.0
INTENSI 1.0 4.0
PP04A 1.0 9.0
PP04B_COD 1.0 9999.0
PP04B1 1.0 2.0
PP04B2 0.0 6.0
PP04B3_MES 0.0 99.0
PP04B3_ANO 0.0 99.0
PP04B3_DIA 0.0 99.0
PP04C 0.0 99.0
PP04C99 0.0 9.0
PP04D_COD 1001.0 99999.0
PP04G 0.0 99.0
PP05B2_MES 0.0 99.0
PP05B2_ANO 0.0 99.0
PP05B2_DIA 0.0 99.0
PP05C_1 0.0 9.0
PP05C_2 0.0 9.0
PP05C_3 0.0 9.0
PP05E 0.0 9.0
PP05F 0.0 9.0
PP05H 0.0 9.0
PP06A 0.0 9.0
PP06C -9.0 400000.0
PP06D -9.0 1000000.0
PP06E 0.0 9.0
PP06H 0.0 2.0
PP07A 0.0 9.0
PP07C 0.0 9.0
PP07D 0.0 9.0
PP07E 0.0 9.0
PP07F1 0.0 9.0
PP07F2 0.0 9.0
PP07F3 0.0 9.0
PP07F4 0.0 9.0
PP07F5 0.0 5.0
PP07G1 0.0 9.0
PP07G2 0.0 9.0
PP07G3 0.0 9.0
PP07G4 0.0 9.0
PP07G_59 0.0 5.0
PP07H 0.0 2.0
PP07I 0.0 9.0
PP07J 0.0 9.0
PP07K 0.0 9.0
PP08D1 -9.0 1200000.0
PP08D4 -9.0 40000.0
PP08F1 -9.0 350000.0
PP08F2 -9.0 96000.0
PP08J1 -9.0 300000.0
PP08J2 -9.0 320000.0
PP08J3 0.0 18600.0
PP09A 0.0 9.0
PP09A_ESP
PP09B 0.0 0.0
PP09C 0.0 0.0
PP09C_ESP
PP10A 1.0 9.0
PP10C 1.0 2.0
PP10D 0.0 2.0
PP10E 0.0 6.0
PP11A 0.0 9.0
PP11B_COD 0.0 9999.0
PP11B1 0.0 9.0
PP11B2_MES 0.0 7.0
PP11B2_ANO 0.0 14.0
PP11B2_DIA 0.0 30.0
PP11C 0.0 99.0
PP11C99 0.0 9.0
PP11D_COD 5002.0 99999.0
PP11G_ANO 0.0 99.0
PP11G_MES 0.0 99.0
PP11G_DIA 0.0 99.0
PP11L 0.0 9.0
PP11L1 0.0 3.0
PP11M 0.0 3.0
PP11N 0.0 9.0
PP11O 0.0 9.0
PP11P 0.0 9.0
PP11Q 0.0 9.0
PP11R 0.0 2.0
PP11S 0.0 2.0
PP11T 0.0 9.0
P21 -9 1200000
DECOCUR 0 12
IDECOCUR nan nan
RDECOCUR 0 12
GDECOCUR 0.0 12.0
PDECOCUR nan nan
ADECOCUR 0 12
PONDIIO 0 16574
TOT_P12 -9 6500000
P47T -9.0 10750000.0
DECINDR 0 13
IDECINDR nan nan
RDECINDR 0 13
GDECINDR 0.0 13.0
PDECINDR nan nan
ADECINDR 0 13
PONDII 0 15735
V2_M -9 500000
V3_M -9 1000000
V4_M -9 160000
V5_M -9 149000
V8_M -9 3800000
V9_M -9 300000
V10_M -9 460000
V11_M -9 27000
V12_M -9 250000
V18_M 0 34000
V19_AM 0 0
V21_M -9 230000
T_VI -9 3800000
ITF 0 10990000
DECIFR 0 12
IDECIFR nan nan
RDECIFR 0 12
GDECIFR 0.0 12.0
PDECIFR nan nan
ADECIFR 0 12
IPCF 0.0 2198000.0
DECCFR 0 12
IDECCFR nan nan
RDECCFR 0 12
GDECCFR 0.0 12.0
PDECCFR nan nan
ADECCFR 0 12
PONDIH 0 20663
REALIZADA 1 1
IV1 1 6
IV1_ESP
IV2 1 99
IV3 1 4
IV3_ESP
IV4 1 9
IV5 1 2
IV6 1 3
IV7 1 4
IV7_ESP
IV8 1 2
IV9 0 2
IV10 0 3
IV11 0 4
IV12_1 1 2
IV12_2 1 2
IV12_3 1 2
II1 0 99
II2 0 5
II3 0 2
II3_1 0 3
II4_1 0 2
II4_2 0 2
II4_3 0 2
II5 0 2
II5_1 0 2
II6 0 2
II6_1 0 2
II7 0 9
II7_ESP
II8 0 4
II8_ESP
II9 0 4
V1 1 9
V2 1 9
V21 1 2
V22 1 2
V3 1 9
V4 1 9
V5 1 9
V6 1 9
V7 1 9
V8 1 9
V9 1 9
V10 1 9
V11 1 9
V12 1 9
V13 1 9
V14 1 9
V15 1 9
V16 1 9
V17 1 9
V18 1 9
V19_A 2 9
V19_B 2 9
IX_TOT 1 13
IX_MEN10 0 8
IX_MAYEQ10 1 10
VII1_1 1 99
VII1_2 0 97
VII2_1 1 98
VII2_2 0 98
VII2_3 0 98
VII2_4 0 6

C:\Users\Ronny\AppData\Local\Temp\ipykernel_24788\2219707178.py:6: RuntimeWarning: All-NaN axis encountered
  print(column, np.nanmin(eph[column]), np.nanmax(eph[column]))

In [14]:
#Eliminamos observaciones con edades (CH06) menores a 0:
eph= eph.drop(eph[(eph["CH06"] <0)].index)

#Las variables de ingreso IPCF e ITF no toman valores negativos.

#Reemplazamos los 9, 99, 999, 9999, 99999 por "nan" en aquellas variables en las que dichos codigos corresponden a valores faltantes.

missing_codes= [9, 99, 999, 9999, 99999]

for i in missing_codes:
    for column in eph.columns:
        if column!="CH06":
            try:
                if np.nanmax(eph[column])==i:
                    eph[column]=eph[column].replace(i, np.nan)
            except:
                print(column, eph[column].dtype) 

                
eph["CH08"]=eph["CH08"].replace(9, np.nan) #La variable "CH08" toma valores mayores a 9, pero el valor 9 corresponde a los valores faltantes  
eph["ESTADO"]=eph["ESTADO"].replace(0, np.nan) #En el caso de la variable "ESTADO", los valores faltantes se identifican con el código 0

PP09A_ESP object
PP09C_ESP object
IV1_ESP object
IV3_ESP object
IV7_ESP object
II7_ESP object
II8_ESP object

C:\Users\Ronny\AppData\Local\Temp\ipykernel_24788\358264704.py:14: RuntimeWarning: All-NaN axis encountered
  if np.nanmax(eph[column])==i:

PP09A_ESP object
PP09C_ESP object
IV1_ESP object
IV3_ESP object
IV7_ESP object
II7_ESP object
II8_ESP object
PP09A_ESP object
PP09C_ESP object
IV1_ESP object
IV3_ESP object
IV7_ESP object
II7_ESP object
II8_ESP object
PP09A_ESP object
PP09C_ESP object
IV1_ESP object
IV3_ESP object
IV7_ESP object
II7_ESP object
II8_ESP object
PP09A_ESP object
PP09C_ESP object
IV1_ESP object
IV3_ESP object
IV7_ESP object
II7_ESP object
II8_ESP object

In [15]:
#Borramos las columnas que tienen solo missings values
eph = eph.dropna(axis=1, how='all') 

# Borramos las variables que no son numéricas, salvo CODUSU
eph_num = eph.select_dtypes(include=["number"])
eph = pd.concat([eph_num, eph["CODUSU"]], axis=1)

# ... Y otras que son numéricas, pero no aportan mucho en este caso (y no se utilizan en la identificacion de los hogares)
eph = eph.drop(columns=["ANO4", "TRIMESTRE", "COMPONENTE", "REGION", "PONDERA", "PONDIIO"])

In [16]:
#Hay variables categoricas que tienen muchas categorías y que refieren a códigos de ocupaciones o países de origen. Las eliminamos porque convertirlas en dummies agregaría demasiadas variables al modelo:

variables_eliminar=['PP11D_COD', 'PP11B_COD', 'PP04D_COD', 'PP04B_COD', 'CH16_COD', 'CH15_COD']

#También eliminamos las variables de ingreso que luego tendremos que eliminar (a excepción de ITF, que la necesitamos), ya que no queremos luego perder observaciones porque tengan missing values en estas variables que de todas formas no vamos a usar:

ingreso = ["PP08D1", "PP08D4", "PP08F1", "PP08F2", "PP08J1", "PP08J2", "PP08J3", #Ocupacion principal de asalariados
            "P21", "DECOCUR", "IDECOCUR", "RDECOCUR", "GDECOCUR", "PDECOCUR", "ADECOCUR", "PONDIIO", # Ocupación principal
            "TOT_P12", #Otra ocupaciones
            "P47T", "DECINDR", "IDECINDR", "RDECINDR", "GDECINDR", "PDECINDR", "ADECINDR", "PONDII", #Individual
            "V2_M", "V3_M", "V4_M", "V5_M", "V8_M", "V9_M", "V10_M", "V11_M", "V12_M", "V18_M", "V19_AM", "V21_M", "T_VI", #No laborales
            "DECIFR", "IDECIFR", "RDECIFR", "GDECIFR", "PDECIFR", "ADECIFR", # Total Familiar
            "IPCF", "DECCFR", "IDECCFR", "RDECCFR", "GDECCFR", "PDECCFR", "ADECCFR", #Per cap familiar
            'PP06C', 'PP06D', #Trabajadores independientes
            ]

#Y tambien eliminamos las variables para las que más de la mitad de las observaciones toman missing values:

muchos_missings=[]
for v in eph:
    if eph[v].isnull().sum()>0.5*len(eph):
        muchos_missings.append(v)
        
dropcolumns= variables_eliminar + ingreso + muchos_missings   
dropcolumns=[x for x in dropcolumns if x in eph.columns]

        
eph=eph.drop(columns=dropcolumns)

In [17]:
eph

,NRO_HOGAR,H15,AGLOMERADO,CH03,CH04,CH06,CH07,CH08,CH09,CH10,...,IX_TOT,IX_MEN10,IX_MAYEQ10,VII1_1,VII1_2,VII2_1,VII2_2,VII2_3,VII2_4,CODUSU
102,1,1,33,1,2,65,1.0,1.0,1.0,2.0,...,2,0,2,1.0,0,2,0,0,0,TQRMNORUYHLMSMCDEIJAH00719364
103,1,1,33,2,1,70,1.0,1.0,1.0,2.0,...,2,0,2,1.0,0,2,0,0,0,TQRMNORUYHLMSMCDEIJAH00719364
104,1,1,33,1,1,36,1.0,4.0,1.0,2.0,...,3,1,2,2.0,1,98,0,0,0,TQRMNOSRQHJNSOCDEIJAH00802640
105,1,1,33,2,2,28,1.0,4.0,1.0,2.0,...,3,1,2,2.0,1,98,0,0,0,TQRMNOSRQHJNSOCDEIJAH00802640
106,1,0,33,3,2,9,5.0,4.0,1.0,1.0,...,3,1,2,2.0,1,98,0,0,0,TQRMNOSRQHJNSOCDEIJAH00802640
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
48597,1,1,33,1,2,77,3.0,1.0,1.0,2.0,...,1,0,1,1.0,0,96,0,0,0,TQRMNOQPTHKKRRCDEIJAH00780327
48598,1,1,33,1,2,45,5.0,1.0,1.0,2.0,...,3,0,3,1.0,2,3,0,0,0,TQRMNOPTXHKORSCDEIJAH00780269
48599,1,1,33,3,1,17,5.0,1.0,1.0,2.0,...,3,0,3,1.0,2,3,0,0,0,TQRMNOPTXHKORSCDEIJAH00780269
48600,1,1,33,3,1,26,5.0,4.0,1.0,2.0,...,3,0,3,1.0,2,3,0,0,0,TQRMNOPTXHKORSCDEIJAH00780269
48601,1,1,33,1,1,54,2.0,12.0,1.0,2.0,...,6,0,6,2.0,4,98,0,0,0,TQRMNOQWSHMKPUCDEIJAH00801901

In [18]:
#La variable 'Nivel_ed' es una variable discreta ordinal, con la excepción de que el 7 corresponde a las personas sin isntrucción. 
#Para solucionar eso, reemplazamos a 7 por 0, y así los valores están en orden desde el nivel más bajo al más alto de educación. 

eph['NIVEL_ED']=eph['NIVEL_ED'].replace(7, 0)

In [19]:
#Una vez que eliminamos las columnas con muchos missing values, borramos las observaciones que tienen missing values en las otras variables
print("Numero de observaciones antes:", len(eph))
eph = eph.dropna()
print("Numero de observaciones despues:", len(eph)) #No perdimos un número tan grande de observaciones

Numero de observaciones antes: 7571
Numero de observaciones despues: 6748

In [20]:
#Convertimos a dummies las variables categóricas nominales 

variables= eph.columns.tolist()

#Excluimos las variables continuas y las nominales ordinales
continuous_variables=['CODUSU', 'NRO_HOGAR', 'ITF', 'NIVEL_ED', 'CH12', 'CH06', 'PP04B3_MES', 'PP04B3_ANO', 'PP04B3_DIA', 'PP05B2_MES', 'PP05B2_ANO', 'PP05B2_DIA', 'PP03D', 'PP3E_TOT', 'PP3F_TOT', 'PP11B2_MES', 'PP11B2_ANO', 'PP11B2_DIA',  'PP11G_ANO', 'PP11G_MES', 'PP11G_DIA', 'PP04C', 'IV2', 'II1', 'II3_1', 'IX_TOT', 'IX_MEN10', 'IX_MAYEQ10', 'PONDIH']

#Guardamos las variables categóricas nominales
categorical_variables=[x for x in variables if x not in continuous_variables]

eph_cat=eph[categorical_variables].astype(str)
eph_cat_dummies=pd.get_dummies(eph_cat, drop_first=True) #Hacemos variables dummies para cada valor que toma cada variable categórica nominal

#Guardamos a las dummies de las variables discretas nominales y a las variables continuas y discretas ordinales
continuous_variables= [x for x in continuous_variables if x in variables]

eph_old=eph

eph = pd.concat([eph_cat_dummies, eph[continuous_variables]], axis=1)

In [21]:
eph.columns.tolist()

['H15_1',
 'AGLOMERADO_33',
 'CH03_10',
 'CH03_2',
 'CH03_3',
 'CH03_4',
 'CH03_5',
 'CH03_6',
 'CH03_7',
 'CH03_8',
 'CH03_9',
 'CH04_2',
 'CH07_2.0',
 'CH07_3.0',
 'CH07_4.0',
 'CH07_5.0',
 'CH08_12.0',
 'CH08_2.0',
 'CH08_3.0',
 'CH08_4.0',
 'CH09_2.0',
 'CH09_3.0',
 'CH10_1.0',
 'CH10_2.0',
 'CH10_3.0',
 'CH11_1.0',
 'CH11_2.0',
 'CH13_1.0',
 'CH13_2.0',
 'CH15_2.0',
 'CH15_3.0',
 'CH15_4.0',
 'CH15_5.0',
 'CH16_1.0',
 'CH16_2.0',
 'CH16_3.0',
 'CH16_4.0',
 'CH16_5.0',
 'CH16_6.0',
 'ESTADO_2.0',
 'ESTADO_3.0',
 'ESTADO_4.0',
 'CAT_OCUP_1.0',
 'CAT_OCUP_2.0',
 'CAT_OCUP_3.0',
 'CAT_OCUP_4.0',
 'CAT_INAC_1',
 'CAT_INAC_2',
 'CAT_INAC_3',
 'CAT_INAC_4',
 'CAT_INAC_5',
 'CAT_INAC_6',
 'CAT_INAC_7',
 'PP02C1_1',
 'PP02C1_2',
 'PP02C2_1',
 'PP02C2_2',
 'PP02C3_1',
 'PP02C3_2',
 'PP02C4_1',
 'PP02C4_2',
 'PP02C5_1',
 'PP02C5_2',
 'PP02C6_1',
 'PP02C6_2',
 'PP02C7_1',
 'PP02C7_2',
 'PP02C8_1',
 'PP02C8_2',
 'PP02E_1',
 'PP02E_2',
 'PP02E_3',
 'PP02E_4',
 'PP02E_5',
 'PP02H_1',
 'PP02H_2',
 'PP02I_1',
 'PP02I_2',
 'IV1_2',
 'IV1_3',
 'IV1_4',
 'IV1_6',
 'IV3_2',
 'IV3_3',
 'IV3_4',
 'IV4_2.0',
 'IV4_3.0',
 'IV4_4.0',
 'IV4_5.0',
 'IV4_6.0',
 'IV5_2',
 'IV6_2',
 'IV6_3',
 'IV7_2',
 'IV7_3',
 'IV7_4',
 'IV8_2',
 'IV9_1',
 'IV9_2',
 'IV10_1',
 'IV10_2',
 'IV10_3',
 'IV11_1',
 'IV11_2',
 'IV11_3',
 'IV11_4',
 'IV12_1_2',
 'IV12_2_2',
 'IV12_3_2',
 'II2_1',
 'II2_2',
 'II2_3',
 'II2_4',
 'II2_5',
 'II3_1',
 'II3_2',
 'II4_1_1',
 'II4_1_2',
 'II4_2_1',
 'II4_2_2',
 'II4_3_1',
 'II4_3_2',
 'II5_1',
 'II5_2',
 'II5_1_1',
 'II5_1_2',
 'II6_1',
 'II6_2',
 'II6_1_1',
 'II6_1_2',
 'II7_1.0',
 'II7_2.0',
 'II7_3.0',
 'II7_4.0',
 'II7_5.0',
 'II7_6.0',
 'II7_7.0',
 'II7_8.0',
 'II8_1',
 'II8_2',
 'II8_3',
 'II8_4',
 'II9_1',
 'II9_2',
 'II9_3',
 'II9_4',
 'V1_2.0',
 'V2_2.0',
 'V21_2',
 'V22_2',
 'V3_2.0',
 'V4_2.0',
 'V5_2.0',
 'V6_2.0',
 'V7_2.0',
 'V8_2.0',
 'V9_2.0',
 'V10_2.0',
 'V11_2.0',
 'V12_2.0',
 'V13_2.0',
 'V14_2.0',
 'V15_2.0',
 'V16_2.0',
 'V17_2.0',
 'V18_2.0',
 'VII1_1_2.0',
 'VII1_1_3.0',
 'VII1_1_4.0',
 'VII1_1_5.0',
 'VII1_1_6.0',
 'VII1_1_7.0',
 'VII1_1_96.0',
 'VII1_1_97.0',
 'VII1_1_98.0',
 'VII1_2_1',
 'VII1_2_2',
 'VII1_2_3',
 'VII1_2_4',
 'VII1_2_5',
 'VII1_2_6',
 'VII1_2_7',
 'VII1_2_8',
 'VII1_2_96',
 'VII2_1_2',
 'VII2_1_3',
 'VII2_1_4',
 'VII2_1_5',
 'VII2_1_6',
 'VII2_1_7',
 'VII2_1_8',
 'VII2_1_96',
 'VII2_1_97',
 'VII2_1_98',
 'VII2_2_1',
 'VII2_2_2',
 'VII2_2_3',
 'VII2_2_4',
 'VII2_2_5',
 'VII2_2_6',
 'VII2_2_9',
 'VII2_2_96',
 'VII2_2_97',
 'VII2_2_98',
 'VII2_3_1',
 'VII2_3_2',
 'VII2_3_3',
 'VII2_3_4',
 'VII2_3_45',
 'VII2_3_5',
 'VII2_3_6',
 'VII2_3_98',
 'VII2_4_5',
 'VII2_4_6',
 'CODUSU',
 'NRO_HOGAR',
 'ITF',
 'NIVEL_ED',
 'CH12',
 'CH06',
 'IV2',
 'II1',
 'II3_1',
 'IX_TOT',
 'IX_MEN10',
 'IX_MAYEQ10',
 'PONDIH']

In [314]:
#6) Estadísticas descriptivas

In [22]:
#7) Repetimos el código del inciso 1.2.f del TP2

#Abrimos el archivo "tabla adulto equiv.xlsx"

adulto = pd.read_excel("../datasets/tabla_adulto_equiv.xlsx")

#Acomodamos la base:

adulto=adulto[4:27] #Nos quedamos solo con las celdas que nos interesan
adulto["Edad"]=adulto["Tabla de equivalencias de necesidades energéticas. Unidades de adulto equivalente, según sexo y edad"]
adulto["1"]=adulto["Unnamed: 1"]
adulto["0"]=adulto["Unnamed: 2"]
adulto= adulto[["Edad", "1", "0"]]

adulto["Edad"]=adulto["Edad"].str.replace("años", "").str.replace("año", "").str.replace(" ", "").str.replace("a", "")
adulto = adulto.set_index("Edad")

def equivalencia(edad, genero):
    if edad <18: #No hay observaciones con edades menor a 1, asi que la aquivalencia para las personas de menos de 1 año de edad no es un problema en este caso
        equiv= adulto.at[str(edad),str(genero)]
    if edad>=18 and edad <30:
        equiv= adulto.at["1829", str(genero)]
    if edad>=30 and edad <46:
        equiv= adulto.at["3045", str(genero)]   
    if edad>=46 and edad <61:
        equiv= adulto.at["4660", str(genero)]   
    if edad>=61 and edad <76: #No queda claro en la tabla, pero asumimos que las personas de 75 están incluidas en esta categoría
        equiv= adulto.at["6175", str(genero)]    
    if edad>=76:
        equiv= adulto.at["másde75", str(genero)] 
    return(equiv)  

eph["adulto_equiv"]= eph.apply(lambda x: equivalencia(x.CH06, x.CH04_2), axis=1)

#Generamos una base que suma las equivalencias por hogar, y luego unimos esa base a la nuestra.

suma=eph.groupby(by=["CODUSU", "NRO_HOGAR"]).agg({"adulto_equiv":"sum"})
suma["ad_equiv_hogar"]=suma["adulto_equiv"]
suma = suma.drop('adulto_equiv', axis=1)

# Y hacemos un merge con el df "suma" que contiene la variable de factor de equivalencia por hogar (ad_equiv_hogar)
eph=eph.merge(suma, on=['CODUSU','NRO_HOGAR'], how='left')

In [23]:
#8) Repetimos los incisos 1.3 y 1.4 del TP2

#Guarden como una base distinta llamada respondieron las observaciones donde respondieron la pregunta sobre su ITF. 
#Las observaciones con ITF = 0 guardenlas en una base bajo el nombre norespondieron.

respondieron=eph[eph_indiv["ITF"]>0]
norespondieron=eph[eph_indiv["ITF"]==0]

respondieron["ingreso_necesario"]= 57371.05*respondieron["ad_equiv_hogar"]

C:\Users\Ronny\AppData\Local\Temp\ipykernel_24788\2312687420.py:6: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  respondieron=eph[eph_indiv["ITF"]>0]
C:\Users\Ronny\AppData\Local\Temp\ipykernel_24788\2312687420.py:7: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  norespondieron=eph[eph_indiv["ITF"]==0]
C:\Users\Ronny\AppData\Local\Temp\ipykernel_24788\2312687420.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  respondieron["ingreso_necesario"]= 57371.05*respondieron["ad_equiv_hogar"]

In [24]:
#9) Agreguen a la base respondieron una columna llamada pobre, que tome valor 1 si el ITF es menor al ingreso necesario que necesita esa familia y 0 en caso contrario

respondieron["pobre"] = (respondieron["ITF"]< respondieron["ingreso_necesario"]).astype(int)

C:\Users\Ronny\AppData\Local\Temp\ipykernel_24788\604457598.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  respondieron["pobre"] = (respondieron["ITF"]< respondieron["ingreso_necesario"]).astype(int)

In [25]:
#10) Nos quedamos con una observación por hogar para calcular la tasa de pobreza:

hogares = respondieron.groupby(['CODUSU', 'NRO_HOGAR']).head(1)
pobreza= ((hogares["pobre"]*hogares["PONDIH"]).sum()/hogares["PONDIH"].sum())*100
print("Tasa de pobreza para el GBA:", pobreza)

Tasa de pobreza para el GBA: 32.878420127960986

## Parte II: Construcción de funciones

In [ ]:
# Falta completar el inciso 1, se puede hacer en markdown.
# En la definición de adulto equivalente se podría modificar con la sugerencia de Victoria
# Solucionar outliers
# Sobre la parte anterior, se podría comentar más los pasos que se van haciendo, para que sea más fácil de seguir el código.
# Estadísticas descritivas pueden ser gráficos y tablas. 
# Explicar más detalladamente la limpieza y las funciones usadas de numpy y pandas (más detallado en markdown)
# Falta comentar si se acerca al reporte del INDEC. Además creo estaría bueno comentar si la tasa de pobreza con y sin ponderación cambia o no.

1) Creamos la función `evalua_metodo()`, la cual nos permitirá crear métricas necesarias para evaluar distintos modelos de predicción.

In [32]:
def evalua_metodo(model, X_train, y_train, X_test, y_test):
    '''
    El objetivo de esta función es analizar un modelo de clasificación binaria y generar métricas para evaluar su desempeño.
    La función usa como inputs el modelo definido y las bases de entrenamiento y testeo.
    La función devuelve como outputs las siguientes métricas:
    - accuracy
    - matriz de confusión
    - verdadero negativo
    - falso positivo
    - falso negativo
    - verdadero positivo
    - área bajo la curva ROC (AUC)
    - ECM
    '''
    
    modelfit = model.fit(X_train, y_train) #previamente definimos el modelo (logit, KNN, LDA)
    y_pred = modelfit.predict(X_test)
    y_pred = np.where(y_pred > 0.5, 1, y_pred) #regla de Bayes
    y_pred = np.where(y_pred <= 0.5, 0, y_pred) #regla de Bayes

    # Métricas para evaluación:
    accuracy = accuracy_score(y_test, y_pred)
    auc = roc_auc_score(y_test, y_pred)
    matriz_confusion = confusion_matrix(y_test, y_pred)
    tn, fp , fn, tp = confusion_matrix(y_test, y_pred).ravel() 
    ecm = mean_squared_error(y_test, y_pred)

    # Visualización de métricas:
    model_metrics = pd.DataFrame({'modelo': [model], 'accuracy': [accuracy], 'auc':[auc], 'ecm':[ecm]})
    return model_metrics

2. Creamos la función `cross_validation()` la cual nos permitirá hacer la validación cruzada con *k* iteraciones.

In [34]:
def cross_validation(model, k, X, y):
    '''
    El objetivo de esta función es realizar un k-fold cross validation para evaluar el desempeño de un modelo de clasificación binaria.
    La función usa como inputs el modelo definido (model), el número de iteraciones (k) y el dataset (X,y).
    La función parte el dataset en K particiones de entrenamiento y test, y aplica la función evalua_metodo para cada una de las particiones.
    La función devuelve como outputs las siguientes métricas:
    - número de iteraciones (k)
    - accuracy
    - ECM
    '''
    kf = KFold(n_splits=k, shuffle=True, random_state=42)
    results = []

    for i, train_index, test_index in enumerate(kf.split(X)):
        X_train, X_test = X[train_index], X[test_index]
        y_train, y_test = y[train_index], y[test_index]
        
        model_metrics = evalua_metodo(model, X_train, y_train, X_test, y_test)
        model_metrics['k'] = i
        results.append(model_metrics)

    return results

## Parte III: Clasificación y regularización